[submodule "libs/AndroidLogcatStdouts"]
  path = libs/AndroidLogcatStdouts
  url = git@github.com:NFeoTools/AndroidLogcatStdouts.git
[submodule "libs/LibCMaker"]
  path = libs/LibCMaker
  url = git@github.com:LibCMaker/LibCMaker.git
[submodule "libs/LibCMaker_GoogleTest"]
  path = libs/LibCMaker_GoogleTest
  url = git@github.com:LibCMaker/LibCMaker_GoogleTest.git
[submodule "libs/LibCMaker_POCO"]
  path = libs/LibCMaker_POCO
  url = git@github.com:LibCMaker/LibCMaker_POCO.git
[submodule "libs/LibCMaker_RmlUi"]
  path = libs/LibCMaker_RmlUi
  url = git@github.com:LibCMaker/LibCMaker_RmlUi.git
[submodule "libs/LibCMaker_SDL2"]
  path = libs/LibCMaker_SDL2
  url = git@github.com:LibCMaker/LibCMaker_SDL2.git
[submodule "libs/LibCMaker_SQLite3"]
  path = libs/LibCMaker_SQLite3
  url = git@github.com:LibCMaker/LibCMaker_SQLite3.git
[submodule "libs/LibCMaker_SQLiteModernCPP"]
  path = libs/LibCMaker_SQLiteModernCPP
  url = git@github.com:LibCMaker/LibCMaker_SQLiteModernCPP.git
[submodule "libs/LibCMaker_Skia"]
  path = libs/LibCMaker_Skia
  url = git@github.com:LibCMaker/LibCMaker_Skia.git
[submodule "libs/LibCMaker_fmt"]
  path = libs/LibCMaker_fmt
  url = git@github.com:LibCMaker/LibCMaker_fmt.git
[submodule "libs/LibCMaker_litehtml"]
  path = libs/LibCMaker_litehtml
  url = git@github.com:LibCMaker/LibCMaker_litehtml.git
[submodule "libs/LibCMaker_spdlog"]
  path = libs/LibCMaker_spdlog
  url = git@github.com:LibCMaker/LibCMaker_spdlog.git
